{% extends "base.html" %}
{% load static %}


{% block title %}
Rentora Registration
{% endblock %}


{% block extra_css %}

<link
    rel="stylesheet"
    href="{% static 'css/user_register.css' %}"
>

{% endblock %}


{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow register-card">

                <div class="card-body p-4">

                    <h1 class="text-center mb-4">
                        Rentora Registration
                    </h1>


                    <form id="userRegisterForm" method="post">

                        {% csrf_token %}


                        <div class="mb-3">

                            <label
                                for="first_name"
                                class="form-label"
                            >
                                First Name
                            </label>

                            <input
                                type="text"
                                class="form-control"
                                id="first_name"
                                name="first_name"
                                required
                            >

                        </div>


                        <div class="mb-3">

                            <label
                                for="last_name"
                                class="form-label"
                            >
                                Last Name
                            </label>

                            <input
                                type="text"
                                class="form-control"
                                id="last_name"
                                name="last_name"
                                required
                            >

                        </div>


                        <div class="mb-3">

                            <label
                                for="email"
                                class="form-label"
                            >
                                Email
                            </label>

                            <input
                                type="email"
                                class="form-control"
                                id="email"
                                name="email"
                                required
                            >

                        </div>


                        <div class="mb-3">

                            <label
                                for="phone_number"
                                class="form-label"
                            >
                                Phone Number
                            </label>

                            <input
                                type="tel"
                                class="form-control"
                                id="phone_number"
                                name="phone_number"
                            >

                        </div>


                        <div class="mb-3">

                            <label
                                for="password"
                                class="form-label"
                            >
                                Password
                            </label>

                            <input
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                required
                            >

                        </div>


                        <div class="mb-3">

                            <label
                                for="confirm_password"
                                class="form-label"
                            >
                                Confirm Password
                            </label>

                            <input
                                type="password"
                                class="form-control"
                                id="confirm_password"
                                name="confirm_password"
                                required
                            >

                        </div>


                        <div class="mb-4">

                            <label
                                for="role"
                                class="form-label"
                            >
                                Register As
                            </label>

                            <select
                                id="role"
                                name="role"
                                class="form-select"
                                required
                            >

                                <option value="">
                                    Select Role
                                </option>

                                <option value="tenant">
                                    Tenant
                                </option>

                                <option value="owner">
                                    Owner
                                </option>

                            </select>

                        </div>


                        <div class="d-grid">

                            <button
                                type="submit"
                                class="btn btn-primary"
                            >
                                Register
                            </button>

                        </div>

                    </form>


                    <div class="text-center mt-4">

                        <p>

                            Already have an account?

                            <a href="/accounts/user/signin">
                                Login
                            </a>

                        </p>

                    </div>


                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block script %}

<script src="{% static 'js/user_register.js' %}"></script>

{% endblock %}