


{% extends "base.html" %}
{% load static %}


{% block title %}
Rentora Login
{% endblock %}


{% block extra_css %}

<link
    rel="stylesheet"
    href="{% static 'css/user_login.css' %}"
>

{% endblock %}


{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow login-card">

                <div class="card-body p-4">

                    <h1 class="text-center mb-4">
                        Rentora Login
                    </h1>


                    <form id="userLoginForm" method="post">

                        {% csrf_token %}


                        <div class="mb-3">

                            <label
                                for="email"
                                class="form-label"
                            >
                                Email
                            </label>

                            <input
                                type="email"
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Enter your email"
                                required
                            >

                        </div>


                        <div class="mb-4">

                            <label
                                for="password"
                                class="form-label"
                            >
                                Password
                            </label>

                            <input
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Enter your password"
                                required
                            >

                        </div>


                        <div class="d-grid">

                            <button
                                type="submit"
                                class="btn btn-primary"
                            >
                                Login
                            </button>

                        </div>

                    </form>


                    <div class="text-center mt-4">

                        <p>

                            Don't have an account?

                            <a href="/accounts/user/signup">
                                Register
                            </a>

                        </p>

                    </div>


                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}



{% block script %}

<script src="{% static 'js/user_login.js' %}"></script>

{% endblock %}


